@use "./colors" as *;

.gallery {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;

	&__item {
		cursor: pointer;

		img {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}

.modal {
	display: none;
	position: absolute;
	inset: 0;
	background-color: $black-modal;

	&__close {
		position: inherit;
		top: 10%;
		right: 30%;
		cursor: pointer;
	}

	&__picture {
		position: absolute;
		left: 50%;
		top: 50%;
		height: 500px;
		width: 500px;
		transform: translate(-50%, -50%);
	}
}

.active {
	display: block;
}
