@use "./colors" as *;

*,
::after,
::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body,
html {
	font-size: 100%;
	font-size: inherit;
	line-height: 1.5;
	background-color: $light-grey;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.container {
	max-width: 75rem;
	margin: auto;
	padding-block: 2em;
	padding-inline: 1em;
}
