@use "./colors" as *;
@use "./typhography" as *;

.nav__menu {
	padding-bottom: 1rem;
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	border-bottom: 0.0625em solid $black-light;

	&__logo {
		font-size: $font-xl;
		font-family: "Archivo", sans-serif;
		font-weight: $fw-600;
		color: $green;
	}
}

.menu {
	display: flex;

	&-item {
		&:not(:last-child) {
			margin-right: 2.5em;
		}

		> a {
			font-family: "Archivo", sans-serif;
			font-size: $font-basic;
			color: $black;
		}
	}
}
